* {
  background-color: #f9f9f9;
  font-family: 'IBM Plex Mono', monospace;
  user-select: none;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  padding: 3% 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar .left {
  margin-left: 10%;
  opacity: 2.0;
}

.navbar .right {
  margin-right: 10%;
}

.navbar img {
  height: 100px;
  width: 100px;
}

.navbar .right a{
  border: 2px solid black;
  padding: 3px 7px;
  color: black;
  font-size: 30px;
  border-radius: 3px;
}

.projects {
  margin-top: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.projects img {
  height: 400px;
  width: 400px;
}

.projects .left, .middle, .right {
  overflow: hidden;
  position: relative;
}

.projects img{
  position: relative;
}

.banner {
  width: 200%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: gray;
  position: absolute;
  top: 45%;
  left: -50%;
  transform: rotate(-45deg);
}

.banner span {
  background-color: gray;
  color: white;
  font-size: 30px;
}

.mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: transparent;
  top: 0;
  left: 0;
  visibility: hidden;
}

.projects .left:hover img,
.projects .middle:hover img,
.projects .right:hover img{
  filter: brightness(50%);
}

.mask .text {
  background-color: transparent;
  font-size: 30px;
  color: white;
  margin-bottom: 15px;
}

.mask .subtext {
  background-color: transparent;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

.projects .left:hover .mask,
.projects .middle:hover .mask,
.projects .right:hover .mask{
  visibility: visible;
}

.projects .right:hover .banner{
  visibility: hidden;
}

.links {
  width: 50%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
}

.links a {
  background-color: transparent;
  text-decoration: underline;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.links a:hover {
  filter: brightness(70%);
}

.footer {
  margin-top: 70px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.footer span {
  font-size: 25px;
  font-weight: bold;
}

.footer ul {
  list-style: none;
  padding: 0;
}

/*
PROFILE STYLES
*/

.profile {
  margin-top: 15%;
  width: 75%;
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro p {
  width: 45%
}

.intro img {
  transform: scaleX(-1);
  border-radius: 50%;
}

.subject {
  min-width: 20%;
  font-size: 40px;
  margin-right: 30%;
}

.about {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.skills {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10%;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 150%;
}

.oval {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oval img {
  max-width: 500px;
  margin: 3%;
}

.olwen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.olwen img {
  max-width: 500px;
  margin: 3%;
}


/*
MOBILE STYLING
*/

@media only screen and (max-width: 1000px) {
    .projects {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .projects .left,
    .projects .middle,
    .projects .right {
      margin-top: 10%;
      width: 75%;
      height: 33%;
      min-width: 400px;
      height: auto;
      display: flex;
      justify-content: center;
    }

    .projects img {
      width: 100%;
      height: 100%;
    }

    .mask {
      height: 100%;
      width: 100%;
    }

    .mask .text {
      font-size: 80px;
    }

    .mask .subtext {
      font-size: 40px;
    }

    .mask a {
      font-size: 35px;
    }
}
