* {
  background-color: #f9f9f9;
  font-family: sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  padding-top: 30px;
  max-width: 80%;
  min-width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  height: 50px;
  width: 50px;
}

.navbar .right a{
  border: 2px solid black;
  padding: 3px 7px;
  color: black;
  font-size: 20px;
  border-radius: 3px;
}

.projects {
  margin-top: 10%;
  width: 90%;
  /*height: 90%;*/
  display: flex;
  justify-content: space-around;
}

.projects img {
  /*border: 1px solid red;*/
  height: 400px;
  width: 400px;
}

.projects .left, .middle, .right {
  position: relative;
}

.projects img{
  position: relative;
}

.mask {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 400px;
  width: 400px;
  font-size: 30px;
  background-color: transparent;
  top: 0;
  left: 0;
  visibility: hidden;
}

.projects .left:hover img,
.projects .middle:hover img,
.projects .right:hover img{
  filter: brightness(50%);
}

.mask .text {
  background-color: transparent;
  color: white;
}

.projects .left:hover .mask,
.projects .middle:hover .mask,
.projects .right:hover .mask{
  visibility: visible;
}
